{
	"Name": "OEC Service",
	"DisplayName": "OEC Service",
	"Description": "Run the OEC Service",
	"OECPath" : "C:\\opsgenie\\opsgenie-oec\\OpsgenieEdgeConnector32.exe",
	"Args" : ["-oec-metrics", "7070"],
	"Env": [
		"OEC_CONF_LOCAL_FILEPATH=C:\\opsgenie\\opsgenie-oec\\conf\\config.json",
		"OEC_CONF_SOURCE_TYPE=local"
	],
	"Stderr": "C:\\opsgenie\\opsgenie-oec\\output\\oecErr.log",
	"Stdout": "C:\\opsgenie\\opsgenie-oec\\output\\oecOut.log"
}